/* cross-theme styles, largely a band-aid solution */
.cm-codeBlock {
  background-color: rgba(0, 0, 0, 0.33);
  /* transparent */
  padding: 0 0.5em !important;
  overflow-x: auto;
  font-family: monospace;
  position: relative;
  z-index: 0;
}

.cm-dialogue {
  color: #FF6A13;
}